*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.outer {
    height: 100vh;
    width: 100vw;
}

.top {
    display: flex;
    justify-content: space-between;
    background-color: darkgreen;
    padding: 30px;
    padding-left: 60px;
    padding-right: 60px;
    color: white;
    height: 90px;
    position: fixed;
    width: 100%;
    top: 0px;
}

.top > ul {
    display: flex;
    gap: 30px;
}

.top > ul > li {
    list-style-type: none;
    font-weight: bold;
    color: white;
    font-size: 20px;
}

.top> ul > li > a{
    text-decoration: none;
    color: white;
}

.top > ul > li:hover {
    transform: scale(1.3);
    cursor: pointer;
}

.mid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: palegreen;
    height: 100vh;
}

.mid > .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 30px;
    text-align: justify;
}

.left > #title > strong {
    font-size: 23px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 2px 3px 5px green;
}

.left > #title {
    text-indent: 30px;
}

.mid > .right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right > div > img {
    height: 340px;
    border-radius: 200px;
    border: 3px solid green;
    box-shadow: 2px 4px 4px darkgreen;
}

div > img:hover {
    transform: scale(1.15);
}

.outer > .about{
    height: 100vh;
    display:grid;
    grid-template-columns: 1fr 1fr;
    background-color: palegreen;
}

.about > .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    gap: 15px;
    padding-left: 50px;
    text-align: justify;
    text-indent: 20px;
}

.about > .left > h1 {
    margin-bottom: 50px;
}

.left > #cv {
    border: 2px solid black;
    padding: 12px;
    border-radius: 20px;
    width: 180px;
    margin: 30px;
    font-weight: bold;
}

.left > #cv > a{
    text-decoration: none;
    color: black;
}

.left > #cv:hover {
    transform: scale(1.1);
}


.about > .right  {
    display: flex;
    justify-content: flex-end;
    padding-right:120px ;
    gap: 50px;
    
}

.about > .right  > #first,#second,#third,#forth,#fifth{
    height: 100vh;
    width: 50px;
    background-color: darkgreen;
}

.skills {
    height: 100vh;
    background-color: palegreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.skills > h1 {
    margin-top: 70px;
    margin-left: 50px;
    font-size: 40px;
}

.skills > h2 {
    padding-left: 50px;
    font-style: italic;
    text-shadow: 2px 5px 5px darkgreen;
}

.skills > h3 {
    padding-left: 60px;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.skills > h3 > #py {
    margin-top: 10px;
    margin-left: 20px;
    height: 20px;
    width: 70%;
    background-color: limegreen;
}

h3 > #py > span {
    display: flex;
    justify-content: end;
    right: 5px;
    font-size: 16px;
}

.skills > h3 > #sql {
    margin-top: 10px;
    margin-left: 20px;
    height: 20px;
    width: 75%;
    background-color: limegreen;
}

h3 > #sql > span {
    display: flex;
    justify-content: end;
    right: 5px;
    font-size: 16px;
}

.skills > h3 > #my {
    margin-top: 10px;
    margin-left: 20px;
    height: 20px;
    width: 70%;
    background-color: limegreen;
}

h3 > #my > span {
    display: flex;
    justify-content: end;
    right: 5px;
    font-size: 16px;
}

.skills > h3 > #oracle {
    margin-top: 10px;
    margin-left: 20px;
    height: 20px;
    width: 75%;
    background-color: limegreen;
}

h3 > #oracle > span {
    display: flex;
    justify-content: end;
    right: 5px;
    font-size: 16px;
}

.skills > h3 > #html {
    margin-top: 10px;
    margin-left: 20px;
    height: 20px;
    width: 85%;
    background-color: limegreen;
}

h3 > #html > span {
    display: flex;
    justify-content: end;
    right: 5px;
    font-size: 16px;
}

.skills > h3 > #css {
    margin-top: 10px;
    margin-left: 20px;
    height: 20px;
    width: 80%;
    background-color: limegreen;
}

h3 > #css > span {
    display: flex;
    justify-content: end;
    right: 5px;
    font-size: 16px;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30vh;
    justify-content: center;
    background-color: palegreen;
    gap: 20px;
}

.contact > ul {
    list-style-type: none;
}

.contact > ul > li {
    font-size: 17px;
    font-weight: bold;
}



@media (max-width: 1024px) {
    .top {
        flex-direction: column;
        align-items: center;
        padding: 20px;
        /* height: auto; */
        gap: 10px;
    }

    .top > ul {
        flex-wrap: wrap;
        gap: 20px;
    }

    .mid {
        height: auto;
        padding-top: 100px; 
    }

    .mid > .right > div > img {
        height: 280px;
    }

    .about {
        grid-template-columns: 1fr;
        height: auto;
    }

    .about > .left > h1{
        padding-left: 20px;
        padding-top: 60px;
        margin-bottom: 0px;
        font-size: 25px;
    }

    .about > .left > h4 {
        font-size: 15px;
    }

    .left > #cv {
        padding: 7px;
        margin-top: 3px;
        font-size: 16px;
        width: 150px;
    }

    .about > .right {
        gap: 20px;
        padding-right: 70px;
    }

    .about > .right > #first,#second,#third,#forth,#fifth {
        height: 100vh;
        width: 30px;
    }

    .skills {
        height: auto;
        padding-top: 30px;
        gap: 8px;
    }

    .skills > h1 {
        font-size: 30px;
        margin-left: 20px;
    }

    .skills > h2 {
        padding-left: 20px;
    }

    .skills > h3 {
        padding-left: 30px;
    }

    .contact {
        height: auto;
        padding: 30px 20px;
    }
}


@media (max-width: 600px) {
    .top {
        padding: 15px;
        text-align: center;
    }

    .top > h2 {
        font-size: 18px;
    }

    .top > ul {
        gap: 10px;
    }

    .top > ul > li {
        font-size: 16px;
    }

    .mid {
        grid-template-columns: 1fr;
        height: auto;
        padding: 20px;
    }

    .mid > .left {
        padding-top: 80px;
    }
    
    .mid > .left> h1 {
        font-size: 22px;
    }

    .mid > .right > div > img {
        height: 200px;
        border-radius: 100px;
    }

    .outer > .about {
        grid-template-columns: 1fr;
        height: auto;
        padding: 20px;
    }

    .about > .left {
        padding: 20px;
        text-indent: 0;
    }

    .left > h3 {
        text-align: center;
    }

    .about > .right {
        display: none;
    }

    .skills > h1 {
        font-size: 26px;
        margin-left: 10px;
    }

    .skills > h2 {
        font-size: 18px;
        padding-left: 10px;
    }

    .skills > h3 {
        font-size: 14px;
        padding-left: 15px;
    }

    .skills > h3 > div {
        width: 90%;
    }

    .contact > h3 {
        font-size: 14px;
        text-align: center;
        padding: 0 10px;
    }

    .contact > ul > li {
        font-size: 14px;
        text-align: center;
    }
}
